<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="kukat, kimput, popup kukkakauppa, kukkakimput">
    <meta name="author" content="Kukkas">
    <meta property="description" content="Teemme viikottain kukkakimppujen myyntiä vaihtuvissa sijainneissa. Tulevat myynnit päivitetään www-sivulle ja Facebookiin.">

    <meta property="og:title" content="Kukkas - popup kukkakauppias">
    <meta property="og:image" content="http://kukkas.fi/assets/logo_square.jpg">
    <meta property="og:description" content="Teemme viikoittain kukkakimppujen myyntiä vaihtuvissa sijainneissa. Tulevat myynnit päivitetään www-sivulle ja Facebookiin.">

    <title>Kukkas - popup kukkakauppias</title>

    <link rel="stylesheet" href="./app.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

    <!-- Favicon etc. -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3ea3wq4qQw">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=3ea3wq4qQw" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=3ea3wq4qQw" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=3ea3wq4qQw">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=3ea3wq4qQw" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=3ea3wq4qQw">
    <meta name="theme-color" content="#ffffff">

    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./node_modules/vue-resource/dist/vue-resource.min.js"></script>
    <script src="./node_modules/ical.js/build/ical.min.js"></script>
    <script src="./js/google.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- Logo -->
      <header>
        <img src="assets/logo.svg" class="logo" alt="Kukkas logo">
      </header>

      <!-- Next sales -->
      <section class="arrow_box next-sale-section">
        <div v-if="calendarData[0]" class="next-sale">
          <div class="next-sale__inner-container">
            <h3 class="next-sale__heading">Seuraava myynti</h3>
            <h1 class="next-sale__date">{{ calendarData[0] | salesDate }}<br />{{ calendarData[0] | salesTime }}</h1>
            <h2 class="next-sale__location">{{ calendarData[0].location }}</h2>
          </div>
        </div>
      </section>

      <!-- Map -->
      <section class="no-pad">
        <div id="map"></div>
      </section>

      <!-- Pitch -->
      <section>
        <h1>Kukkia kotiin <br />matkasta mukaan</h1>
        <p>
          Teemme myös erikoistilauksia: hääkukat, kukat yritystilaisuuksiin jne. Kysy <a href="#contact">lisää</a>
        </p>
      </section>

      <!-- Next sales -->
      <section class="bg--green">
        <h1>Tulevat myynnit</h1>
        <h3 v-for="event in calendarData" class="lowercase">
          {{ event | salesWindow }} <span v-if="event.summary.toLowerCase() !== 'myynti'">{{ event.summary }}, </span> {{ event.location }}
        </h3>
      </section>

      <!-- Instafeed -->
      <section>
        <h1>#kukkas instagramissa</h1>
        <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/f00bfc74b8495d4bb6bef38e7f085705.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
      </section>

      <!-- Contact -->
      <section id="contact" class="contact-section">
        <h1>Yhteystiedot</h1>
        <a v-for="link in links" class="contact-link" v-bind:href="link.href">
          <img v-if="link.icon" v-bind:src="link.icon" class="contact-icon" />
          <span class="contact-link__text">{{ link.text }}</span>
        </a>
      </section>
    </div>
    <script src="./js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5CicyOj31WzXL0Kuyn0fgQl4zhcMjC1k&callback=initMap"
        async defer></script>
  </body>
</html>
